*{
  margin:0px;
  padding: 0px;
  box-sizing:border-box;
}

body{
  background: rgba(183, 216, 230, 0.562);
}

header h1{
  text-align: center;
  background: rgb(99, 183, 231);
  padding: 20px;
}

header p{
  text-align: center;
  background: rgb(0, 174, 255);
   padding: 20px;
   font-size:20px ;
}
nav.menu ul{
  background: rgba(12, 61, 73, 0.288);
  display: flex;
  list-style: none;
}

nav.menu li{
  font-size:22px ;
 
}
nav.menu a{
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color:rgba(248, 248, 248, 0.815);
}

nav.menu a:hover{
  background:rgba(12, 61, 73, 0.356);
}

/*--------formatação do submenu-----------*/
nav.menu ul ul{
  display:none;
}

nav.menu ul li:hover > ul{
  display: block;
  position: absolute;
}
/*--------sub-submenu-----------*/

nav.menu ul ul ul{
  left: 101%;
  top: 45px;
}

nav.menu ul ul ul{
 
}